.more-icon-wrapper {
  position: relative;
  width: fit-content;
  font-size: small;
}

.more-icon-wrapper svg {
  cursor: pointer;
  height: 20px;
  padding: 3px;
  border-radius: 4px;
  outline: none;
}

.more-icon-wrapper svg:hover {
  background-color: #eff0f1;
}

.options-list {
  position: absolute;
  top: 103%;
  right: 0%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  z-index: 100;
}

.options-list div {
  display: flex;
  padding: 2px 3px;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background-color: #ffffff;
}

.more-icon-wrapper .opened,
.options-list div:hover {
  background-color: #f5f6f7;
}
