button {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

.backtesting-popup {
  position: fixed;
  width: 500px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 999999;
  user-select: none;
  pointer-events: auto;
  top: 45px;
  left: 380px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Header */
.backtesting-popup-header-wrapper {
  padding: 0px 20px;
}

.backtesting-popup-header {
  display: flex;
}

.backtesting-popup-header-title {
  background: white;
  color: rgb(11, 11, 11);
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0px;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 600;
  cursor: grab;
}

.backtesting-popup-close-btn-wrapper {
  padding: 17px 0px;
}

.backtesting-popup-close-btn {
  background: inherit;
  border: none;
  border-radius: 8px;
  height: 34px;
  width: 34px;
  font-size: 36px;
  font-weight: 100;
  cursor: pointer;
  color: #000000;
  line-height: 0;
}

.backtesting-popup-close-btn:hover {
  background: #e2ebf38b;
}

/* Footer */
.backtesting-popup-footer-wrapper {
  padding: 16px 20px;
  border-top: 1px solid #e3e3e3;
}

.backtesting-popup-footer {
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
}

.footer-btn-wrapper {
  display: flex;
  gap: 15px;
}

.footer-btn-wrapper .footer-right-side-btn {
  display: flex;
  gap: 15px;
}

.backtesting-popup-footer-btn-wrapper.space {
  flex: 1;
  justify-content: space-between;
}

/* Other */
.filler {
  flex: 1;
  z-index: -1;
}
