.backtesting-popup-content::-webkit-scrollbar {
  width: 5px;
  height: 15px;
}

.all-captures-row::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

.all-captures-row::-webkit-scrollbar-track,
.backtesting-popup-content::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 5px;
}
.all-captures-row::-webkit-scrollbar-thumb,
.backtesting-popup-content::-webkit-scrollbar-thumb {
  background-color: #cdcdcd;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
}
.all-captures-row::-webkit-scrollbar-thumb:hover,
.backtesting-popup-content::-webkit-scrollbar-thumb:hover {
  background-color: #a9a9a9;
}
.all-captures-row::-webkit-scrollbar-button,
.backtesting-popup-content::-webkit-scrollbar-button {
  display: none;
}

button {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

.backtesting-popup {
  position: fixed;
  width: 475px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 999999;
  user-select: none;
  pointer-events: auto;
  top: 45px;
  left: 380px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Header */
.backtesting-popup-header-wrapper {
  padding: 0px 20px;
}

.backtesting-popup-header {
  display: flex;
}

.backtesting-popup-header-title {
  background: white;
  color: rgb(11, 11, 11);
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0px;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 600;
  cursor: grab;
}

.backtesting-popup-close-btn-wrapper {
  padding: 17px 0px;
}

.backtesting-popup-close-btn {
  background: inherit;
  border: none;
  border-radius: 8px;
  height: 34px;
  width: 34px;
  font-size: 36px;
  font-weight: 100;
  cursor: pointer;
  color: #000000;
  line-height: 0;
}

.backtesting-popup-close-btn:hover {
  background: #e2ebf38b;
}

/* Footer */
.backtesting-popup-footer-wrapper {
  padding: 16px 20px;
  border-top: 1px solid #e3e3e3;
}

.backtesting-popup-footer {
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
}

.backtesting-popup-footer-btn-wrapper {
  display: flex;
  gap: 15px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Other */
.filler {
  flex: 1;
  z-index: -1;
}
