.btn-wrapper {
  display: flex;
  /* margin: 10px; */
}

.btn-wrapper.x-center {
  justify-content: center;
}

.btn-wrapper.x-left {
  justify-content: flex-start;
}

.btn-wrapper.x-right {
  justify-content: flex-end;
}

.btn-wrapper.y-center {
  align-items: center;
}
.btn-wrapper.y-top {
  align-items: flex-start;
}
.btn-wrapper.y-bottom {
  align-items: flex-end;
}

.fill-btn,
.hollow-btn {
  background-color: #ffffff;
  color: #1e53e5;
  border: none;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid #1e53e5;
  display: flex;
  align-items: center;
  gap: 5px;
}

.fill-btn:hover,
.hollow-btn:hover {
  color: #ffffff;
  background-color: #1e53e5;
  border: 1px solid #1e53e5;
}

.fill-btn {
  background-color: #2962ff;
  color: white;
  border: none;
  border: 1px solid #2962ff;
}

.fill-btn.medium,
.hollow-btn.medium {
  padding: 4px 10px;
  font-size: 16px;
  border-radius: 6px;
}

.fill-btn.small,
.hollow-btn.small {
  padding: 2px 8px;
  font-size: 14px;
  border-radius: 4px;
}

.fill-btn.very-small,
.hollow-btn.very-small {
  padding: 2px 6px;
  font-size: 11px;
  border-radius: 4px;
}

.btn-disable:hover,
.btn-disable {
  background-color: #dadada;
  border: 1px solid #ccc;
  color: #818181;
  cursor: not-allowed;
}
