.input-label-wrapper {
  width: 100%;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: rgb(36, 36, 36);
  font-size: 13px;
}

.backtesting-popup-input-wrapper {
  padding: 8px 0px;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

.backtesting-popup-input-div {
  border: 1px solid #ccc;
  border-radius: 7px;
}

.backtesting-popup-input-div select {
  padding: 7.8px 4px 7.8px 4px;
  width: fit-content;
  max-width: 240px;
  min-width: 100px;
}

.backtesting-popup-input-div:hover {
  border: 1px solid #a0a0a0;
}

.backtesting-popup-input-div:focus-within {
  border: 1px solid #ffffff;
}

.backtesting-popup-input {
  width: 120px;
  height: 38px;
  box-sizing: border-box;
  background-color: #ffffff;
  color: black;
  font-size: 14px;
  font-weight: 400;
  border-radius: 7px;
  outline: none;
  border: 2px solid #ffffff;
}

.backtesting-popup-input:focus {
  border: 2px solid #0b5ef9;
}

input,
input[type="number"],
input[type="date"],
input[type="time"] {
  color-scheme: light;
  padding: 8px 2px 8px 8px;
}

input[type="time"],
input[type="date"] {
  font-size: 13px;
  width: 120px;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  padding: 0px;
  margin-left: 2px;
  cursor: pointer;
}
