.cp-container {
  display: flex;
  align-items: center;
  gap: 1px;
  border: 1px solid #ddd;
  width: fit-content;
  border-radius: 6px;
  background: white;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
}

.cp-container.disabled button,
.cp-container.disabled div {
  opacity: 0.5;
  pointer-events: none;
}

.cp-btn {
  display: flex;
  align-items: center;
  padding: 10px 3px;
  background: #f0f0f0;
  color: #475569;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.cp-btn:hover {
  background: #e0e0e0;
}

.cp-display {
  min-width: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  font-family: Arial, sans-serif;
  cursor: default;
}
