.backtesting-popup-label-wrapper {
  display: flex;
  align-items: center !important;
  min-width: 40px;
  font-weight: normal;
  font-size: 13px;
  text-align: left;
  color: black;
  box-sizing: border-box;
}

.backtesting-popup-label-wrapper span {
  display: flex;
  padding: 8px 0px;
  font-weight: normal;
  align-items: center;
  font-size: 13px;
  text-align: left;
  color: black;
  box-sizing: border-box;
}

.backtesting-popup-label-wrapper.header span {
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 13px;
  color: rgb(149, 149, 149);
  box-sizing: border-box;
}
