::-webkit-scrollbar-track {
  background: #f0f0f0 !important;
  border-radius: 5px !important;
}
::-webkit-scrollbar-thumb {
  background-color: #cdcdcd !important;
  border-radius: 5px !important;
  border: 1px solid #f0f0f0 !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a9a9a9 !important;
}
::-webkit-scrollbar-button {
  display: none !important;
}

/* Body */
#extension-popup-content {
  display: flex;
  flex-direction: column;
  padding: 16px 0px;
  max-height: 330px;
  min-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

#extension-popup-content::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

/* Recent Content */
.inputs-and-generator-wrapper {
  padding: 0px 20px;
}

/* Account Size and Risk  */
.account-size-and-risk-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin-bottom: 10px;
}

.account-size-and-risk-wrapper input {
  width: 100%;
}

/* Input Generator */
.no-input-found {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #5b5b5b;
  min-height: 100px;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.add-button-wrapper {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding: 0px 0px 10px 0px;
}

.inputs-generator-wrapper {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.inputs-generator-wrapper input {
  width: 100%;
}

.inputs-generator-wrapper select {
  width: 150px;
}

.inputs-section {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.dropdowns-section {
  display: flex;
  flex-direction: column;
  overflow: auto;
  justify-content: flex-end;
  flex: 3;
}

.dropdowns-section > div:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.dropdowns-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  border-left: 1px solid #cccc;
  height: 180px;
  padding: 0px 20px 0px 20px;
  box-sizing: border-box;
}

.dropdowns-wrapper .empty-options-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  color: #8c8c8ccc;
}

.dropdowns-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.dropdowns-section .add-options-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
}

.dropdowns-section .dropdowns {
  display: flex;
  gap: 20px;
}

/* Input-Grid */
.backtesting-popup-inputs-flex {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-row {
  display: grid;
  grid-template-columns: 80px 120px 125px 80px;
  align-items: center;
  gap: 15px;
  padding: 0px 20px;
  cursor: move;
}

.input-row.drag-over {
  background-color: #dbeffb !important;
  transform: scale(0.99);
  transition: transform 0.2s ease-in-out;
}

.dropdown-row select {
  width: 125px;
}

.highlighted-row {
  outline: #5b5b5b 1px solid !important;
  background-color: #dbffe9 !important;
}

.header-row > * {
  font-weight: 600;
  margin-bottom: -15px;
  cursor: default;
}

.edit-trash-btn-wrapper {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

/* Placeholder filler */
.input-row > .filler {
  width: 125px;
}

/* AllCaptures Content */
.all-captures-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #f8fbff;
  padding: 10px;
  margin: 0px 16px 20px 16px;
  border-radius: 5px;
}

.all-captures-content-wrapper {
  padding: 0px 16px;
  border-radius: 5px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.all-captures-row::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

.entries span:first-child {
  font-size: 15px;
  color: #8da9c0;
}

.entries span:last-child {
  font-size: 15px;
  font-weight: bold;
  color: #747474;
}

.all-captures-row-wrapper {
  border: 1px solid #cfe2ff;
  border-radius: 3px 3px 0px 0px;
  margin-bottom: 20px;
}

.tool-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  left: 0;
  padding: 5px;
}

.tool-header div:first-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.tool-header div:last-child {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.all-captures-row {
  display: flex;
  height: fit-content;
  box-sizing: border-box;
  background-color: #f8fbff;
  border-top: 1px solid #cfe2ff;
  overflow-x: auto;
}

.all-captures-row .column {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #8da9c0;
  flex: 1;
}

.all-captures-row .column div {
  padding: 0px 10px;
  text-align: left;
  border-right: 1px solid #d6eaff;
  border-bottom: 1px solid #d6eaff;
  white-space: nowrap;
}

.all-captures-row .key {
  border-bottom: 1px solid #d6eaff;
}

.all-captures-row .value {
  color: #747474;
  font-weight: bold;
}

/* Calculator Content */

.calculators-tab-and-calculator-wrapper {
  padding: 10px;
  background-color: #f5f6f8cf;
  margin-top: 20px;
  border-radius: 5px;
}

.calculator-wrapper {
  padding: 10px 20px 15px 20px;
  box-sizing: border-box;
  border: 1px solid #d3e6ff;
  background-color: #f8fbff;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0px 0px 6px rgb(0, 0, 0, 0.1);
}

.calculator-wrapper .title {
  display: flex;
  align-self: flex-start;
  color: gray;
}

.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 15px;
}

.calculator input {
  width: 100%;
}
