/* Base tooltip styles */
.info-tooltip {
  width: fit-content;
  position: absolute;
  background: #2a2e39;
  color: white;
  padding: 5px 8px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.info-tooltip-title {
  display: block;
}

/* Position-specific styles */
.info-tooltip-top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 8px;
}

.info-tooltip-bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
}

.info-tooltip-left {
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 8px;
}

.info-tooltip-right {
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 8px;
}

/* Arrow styles */
.info-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

/* Top arrow (pointing down) */
.info-tooltip-arrow-top {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #2a2e39;
}

/* Bottom arrow (pointing up) */
.info-tooltip-arrow-bottom {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 5px solid #2a2e39;
}

/* Left arrow (pointing right) */
.info-tooltip-arrow-left {
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 5px solid #2a2e39;
}

/* Right arrow (pointing left) */
.info-tooltip-arrow-right {
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 5px solid #2a2e39;
}

/* Hover animations */

.info-tooltip,
.info-tooltip-bottom {
  animation: tooltipFadeInTopAndBottom 0.1s ease-out;
}

@keyframes tooltipFadeInTopAndBottom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.info-tooltip-right,
.info-tooltip-left {
  animation: tooltipFadeInLeftAndRight 0.1s ease-out;
}

@keyframes tooltipFadeInLeftAndRight {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
