.toggle-popup-button {
  all: unset;
  align-items: center;
  color: var(--tv-color-toolbar-button-text, #131722);
  cursor: default;
  display: flex;
  justify-content: center;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  height: 36px;
  width: 52px;
}

.toggle-popup-button span {
  background-color: inherit;
  padding: 5px;
  border-radius: 4px;
  box-sizing: border-box;
}

.toggle-popup-button svg {
  height: 24px;
  width: 24px;
}

html.theme-dark .toggle-popup-button {
  color: var(--tv-color-toolbar-button-text, #d1d4dc);
}

.toggle-popup-button.active svg {
  color: #2962ff;
}

.toggle-popup-button:hover span {
  background-color: #f0f4f9;
}

html.theme-dark .toggle-popup-button:hover span {
  background-color: inherit;
}

/*for app*/
.web-app {
  left: 90%;
  width: 40px;
  height: 40px;
  top: 181px;
}
