.toggle-popup-button {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 8px;
  margin: 1px 3px;
  border: none;
  background-color: inherit;
  width: 39px;
  height: 39px;
}
.toggle-popup-button svg {
  color: #131722;
}

.toggle-popup-button.active {
  background-color: #e3effd;
}

.toggle-popup-button.active svg {
  color: #2962ff;
}

.toggle-popup-button.active:hover {
  background-color: #bbd9fb;
}

.toggle-popup-button.active img {
  filter: brightness(0) saturate(100%) invert(20%) sepia(100%) saturate(5000%)
    hue-rotate(206deg);
}

.toggle-popup-button.active:hover img {
  filter: brightness(0) saturate(100%) invert(10%) sepia(100%) saturate(5000%)
    hue-rotate(206deg);
}

/*for app*/
.web-app {
  left: 90%;
  width: 40px;
  height: 40px;
  top: 181px;
}

.toggle-popup-button:hover {
  background-color: #e8eef7a1;
}

.backtest-button-img {
  width: 25px;
  height: 25px;
}
