.sheet-list-wrapper {
  width: 100%;
  border-radius: 16px;
  padding: 24px;
  box-sizing: border-box;
}

/* Sheet Input Row */
.sheet-input {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  gap: 1rem;
}

.sheet-input input {
  width: 270px !important;
}

.sheet-input div:last-child {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.connect-button-text svg {
  margin-bottom: -3px;
}

.mb4 {
  margin-bottom: 16px;
}

/* Sheet List Section */
.sheet-list-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

/* Success */
.success {
  display: flex;
  align-items: center;
  color: #22c55e;
  font-weight: 500;
  gap: 8px;
}

/* Error */
.error {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ef4444;
  font-weight: 500;
  margin-top: 8px;
}

/* Sheet List Wrapper */
.sheet-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sheet-name-wrapper {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 310px;
}

/* Sheet List Item */
.sheet-item {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #cbd5e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
}
.sheet-item.selected:hover,
.sheet-item.selected {
  background-color: #effff5;
  border: 1px solid #008631;
}

.sheet-item .check-icon {
  color: #008631;
}

.sheet-item:hover {
  background: #f8fafc;
}

/* Inside Items */
.mapping-item div,
.sheet-item div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.selected-sheet-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 20px;
}

.selected-sheet-wrapper h4 {
  margin: 5px;
  margin-bottom: 15px;
}

.mappings-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 300px;
  align-self: center;
}

.mapping-item {
  display: grid;
  grid-template-columns: 60px 150px 40px;
  gap: 15px;
}

.mapping-item div:first-child {
  flex: 2;
}

.mapping-item div:last-child {
  flex: 3;
}

.back-icon {
  cursor: pointer;
}

.back-icon:hover {
  color: #475569;
}
