@import "./components/Button/Button.css";
@import "./components/Inputs/Input.css";
@import "./components/Label/Label.css";
@import "./components/Loading/Loading.css";
@import "./components/TopDownSlider/TopDownSlider.css";
@import "./Popup/components/LoginForm/LoginForm.css";
@import "./components/TabSelector/TabSelector.css";

@import "./Popup/components/Body/Body.css";
@import "./Popup/Popup.css";
